body {
    font-size: 12px;
	font-family: "Helvetica", "Arial", "Verdana", sans-serif;
    margin:0;
    padding:0;
    background: #dfe0e5;
}

a {
    color: #376e91;
    border-bottom: 1px solid #376e91;
    text-decoration: none;
}


div.bg {
    margin: 0px;
    padding: 0px; 
    background: url('bg.png') #dfe0e5 no-repeat 0 10px;
}

div.header {
    /*background: #2a2a2a;*/
    padding: 20px;
    color: #fff;
    font-size: 50px;
}

.casette {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adbar {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#submissionform {
    
    margin-left: auto;
    margin-right: auto;
}

div.footer {
    clear: both;
}

div.sidebar {
    float: left;
    margin-top: 150px;
}
div.sidebar ul {
    list-style: none; 
    padding:0;
}

div.sidebar li a {
    font-size: 16px;
    display: block;
    color: #fff;
    text-decoration: none;
    border:0;
    padding: 10px;
}

div.content {
    min-height: 600px;
}

div.entry {
    margin-bottom: 40px;
}

h2 {
    margin: 0px;
}

div.content h2 {
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: 2px solid #c4c4c4;
}

div.content p {
    font-size: 14px;
    line-height: 20px;
}

div.content a {
    font-size: 40pt;
}

.nextlink {
    font-size: 30px;
    text-color: #000;
    margin-right: 190px;
    width: 225px;
    float: right;
    decoration: none;
    clear: both;
}
