{% extends "base.html" %}

{% block header %}
Submit fact
{% endblock header %}

{% block content %}
<span class="h2">Share a fact about Ron May:</span>
<form action="/submit/" method="POST">
    <table>
        <tr><td>Name:</td><td><input type="text" name="name"></td></tr>
        <tr><td>Email:</td><td><input type="text" name="email">(never displayed)</td></tr>
        <tr><td>Fact:</td><td><textarea name="fact"></textarea></td></tr>
       <tr><td></td><td><input type="submit" value="Add fact"></td></tr>
    </table>
</form>
{% endblock content %}
