{% extends "base.html" %}


{% block header %}
<!--img src="{{ STATIC_URL }}casettelogo.jpg" alt="Ron May Facts!" /-->
{% endblock header %}

{% block sidebar %}
<div class="person-info">
    <img src="{{ STATIC_URL }}bgnarrow.png">
</div>
{% endblock sidebar %}

{% block content %}
<div style="text-align: center;"><h2><a href="http://ronmayfacts.com/facts/15/">I guess Ron had one last business card to collect...</a> <a href="http://themayreport.com/2013/06/24/the-may-report-final-report-no-really/">(The final May Report)</a></h2></div><br>
<div class="bubble">
<div class="bubbleleft">
<div class="bubbleright">
<div class="bubbletop">
<div class="bubblebottom">
    <div class="roundtop">
        <img src="{{ STATIC_URL }}bubble/bubble-top-left.png" class="corner" />
    </div>

    <p>
    {{ fact.factoid }}
    </p>
    
    <div class="roundbottom">
        <a style="margin-left: 30px;" href="/facts/{{ fact.id }}/">permalink</a>
        <img src="{{ STATIC_URL }}bubble/bubble-bottom-left.png" class="corner" />
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="nextlink">
    <a href="/">More facts &gt;&gt;</a>
</div>
<div class="nextlink">
    <a href="/facts/submit/">Add a fact &gt;&gt;</a>
</div>

<!--table id="submissionform">
    <tr><td></td><td><h2>Submit a new fact</h2></td></tr>
    <form method="POST" action="/facts/submit/">
        {{ form }}
        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
    </form>
</table-->
<!--img src="{{ STATIC_URL }}casettelogo.jpg" alt="Ron May Facts!" class="casette" /-->
{% endblock content %}
